* {
    margin: 0;
    padding: 0;
  }

  @font-face {
    font-family: 'StratosSkyeng'; 
    src: local('StratosSkyeng'),
      url(./statosskyeng-v1.001/Web/stratosskyengweb-medium.woff); 
  }

  .main {
    /* width: 1024px; */
    width: 100%;
        height: 100vh;
    display: flex;
    justify-content: center;
    /* height: 774px; */
    background-color: #004980;
    position: relative;
    /* padding-top: 158px; */
  }

  .diff {
    margin: auto;
    width: 480px;
height: 459px;
background: #C2F5FF;
border-radius: 12px;
/* margin-left: 272px;
margin-right: 272px; */
/* margin-top: 158px;
margin-bottom: 157px; */
  }

  .main_text {
    padding-top: 52px;
    font-family: 'StratosSkyeng';
    width: 100%;
height: auto;
font-style: normal;
margin: 0;
font-weight: 400;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #004980;
/* margin-left: 136px;
padding-top: 52px; */
  }

  /* .box_1 {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
  } */

  /* .box_2 {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
margin: 0;
  }

  .box_3 {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
margin: 0;
  } */

  .boxes{
    margin-top: 48px;
    padding: 0;
        justify-content: center;
    display: flex;
    /* margin-top: 48px;
    margin-bottom: 67px;
    padding-left: 69px; */
    gap: 24px;
  }

  /* .b1 {
    display: grid;
    width: 98px;
height: 98px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  } */

  .box_1 {
    display: inline-block;
    margin-right: 10px;
  }
  .box_1 input[type=radio] {
    display: none;
  }
  .box_1 label {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
    display: flex;
    user-select: none;
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
justify-content: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  }
   
  .box_2,
    .box_1,
    .box_3 {
        margin: 0;}

  .box_2 {
    display: inline-block;
    margin-right: 10px;
  }
  .box_2 input[type=radio] {
    display: none;
  }
  .box_2 label {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
    display: flex;
    user-select: none;
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
justify-content: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  }

  .box_3 {
    display: inline-block;
    margin-right: 10px;
  }
  .box_3 input[type=radio] {
    display: none;
  }
  .box_3 label {
    width: 98px;
height: 98px;
background: #FFFFFF;
border-radius: 12px;
cursor: pointer;
    display: flex;
    user-select: none;
    font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
justify-content: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  }

  /* .b2 {
    display: grid;
    width: 98px;
height: 98px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  } */

  /* .b3 {
    display: grid;
    width: 98px;
height: 98px;
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
align-items: center;
text-align: center;
color: #0080C1;
font-family: 'StratosSkyeng';
  } */

  .button_1 {
    width: 246px;
height: 50px;
background: #7AC100;
border: none;
cursor: pointer;
border-radius: 12px;
margin-left: 117px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
font-family: 'StratosSkyeng';
color: #ffffff;
margin-top: 67px;
  }

  .rub {
    width: 95px;
height: 133px;
background: #FFFFFF;
border-radius: 4px;
  }

  .rub_1 {
    width: 83px;
height: 121px;
background: #E4FBFF;
border-radius: 4px;
padding: 6px;
  }

  .rub_main {
    display: grid;
  gap: 15px;
  grid-template-columns: repeat(9, 1fr);
  margin-left: 26px;
  margin-right: 23px;
  }

  .timer {
    font-family: 'StratosSkyeng';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 72px;
color: #FFFFFF;
  }